<html> 
<head> 
<!-- Stylesheets -->
<link rel="stylesheet" href="css/layout.css">
</head>
<body class="cuerpo">
<div class="container">
<div class="form-bg2">
<form method="post" action="/listar" name="form" >
<br>
<p class="borrar"> ¿Estás seguro que deseas eliminar este usuario?</p>
<div class="textoborrar">
br
br
p Id:<input type="hidden" name="id" value=#{id}> #{id}
p Nombre:<input type="hidden" name="username" value=#{username}>#{username}
p Apellido:<input type="hidden" name="apellido" value=#{apellido}>#{apellido}
p C.I:<input type="hidden" name="ci" value=#{ci}>#{ci}
p Fecha Nacimiento:<input type="hidden" name="nac" value=#{nac}>#{nac}
p Empresa:<input type="hidden" name="empresa" value=#{empresa}>#{empresa}
p Departamento:<input type="hidden" name="dpto" value=#{dpto}>#{dpto}
<input type="hidden" name="huella" value=#{huella}>
<input type="hidden" name="user" value=#{user}>
<input type="hidden" name="password" value=#{password}>
p Acceso:<input type="checkbox" name="acceso" #{acceso} disabled /> 
br
br
<input type="submit" value="Eliminar" id="borrar"name="borrar" class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="Cancelar" id="cancelar"name="cancelar" class="btn" />
</div>
</div>
</form>

