<html> 
<head> 
<!-- Stylesheets -->
<link rel="stylesheet" href="/../css/layout.css">
</head>
<body class="cuerpo">
<div class="container">
<div class="form-bg2">
<form method="POST" action="/empleados/#{vector.id}" enctype="application/x-www-form-urlencoded">
<input type="hidden" name="_method" value="put">
<br>
<p class="borrar"> Editar datos de Empleado</p>
br
<div class="textoeditar">
p Id:<input type="text" name="id" value=#{vector.id} class="iddata" disabled/>
p Nombre:<input type="text" name="username"  required maxlength="20" class="nomdata" value=#{vector.nombre}>
p Apellido:<input type="text" name="apellido"  required maxlength="20" class="nomdata" value=#{vector.apellido}>
p C.I:<input type="text" name="ci" maxlength="16"  required class="cidata" value=#{vector.cedula} >
p Fecha Nacimiento:<input type="date" name="nac" class="cidata" value=#{vector.fechanac} >
p Empresa:<input type="text" name="empresa" maxlength="20"  required class="cidata" value=#{vector.empresa} >
p Departamento:<input type="text" name="dpto" maxlength="20"  required class="cidata" value=#{vector.dpto} >
p Acceso:<input type="checkbox" name="acceso" #{onoff}>
br
p <input type="submit" class="btn">  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="reset" class="btn"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=/./empleados class="btn">Cancelar</a>
</form>


