<html>
head 
  link(rel="stylesheet", href="css/layout.css")
  script(src='http://code.jquery.com/jquery-2.1.1.min.js')
  link(rel='stylesheet', href='/css/tabla.css')
  script(src="js/index.js")
  script(type='text/javascript', src='/js/jquery.dataTables.min.js')
  script(src='js/table.js')
 <!-- Stylesheets -->
<body class="cuerpo">
<div class="barra"><p class="bienvenido"> Hola #{user}! &nbsp;&nbsp;<div class="enlace2"><a href=cierresesion>Cerrar Sesion</a></div></div>
<div class="imag"><img class="logo" src="../images/logocrear2.png">
<div class="info">
ul
 li <a href=empleados/nuevo class="enlace">Nuevo Empleado</a>
 br
 br
 li <a href=/usuarios/contrasena class="enlace">Admin. Contraseña</a>
 br
 br
 if admin==='admin'
  li <a href=/usuarios class="enlace">Nuevo Usuario</a>
</ul>
br
</div>
</div>
br 
br
br
div#marginbot
 <a href="javascript:document.location.reload();" class="buttons buttons2" id="first-tab">Empleados</a>  
 <a href="/reg" class="buttons" id="second-tab">Registraciones</a> 
br
hr
table#tabla.display(cellspacing='0', width='100%')
  thead
    tr
      th Id
      th Nombre
      th Apellido
      th Cedula
      th Fecha Nacimiento
      th Sub Empresa
      th Departamento
      th Fecha Modificacion
      th Acceso
      th Teclado
      th Huellas
      th Opciones
  tbody
   -for (var i = 0; i < max; ++i)
     tr
       td #{vector[i].id} 
       td #{vector[i].nombre} 
       td #{vector[i].apellido}
       td #{vector[i].cedula}
       td #{vector[i].fechanac}
       td #{vector[i].subempresa}
       td #{vector[i].dpto}
       td #{vector[i].fechaact}
       td #{vector[i].acceso}   
       td #{vector[i].habkyb}
       td 
        if vector[i].huellac===null||vector[i].huellac==="Sin Enrolar"||vector[i].huellac===""
          p Sin huella      
        else 
          p
           i.sprite.sprite-huellaclap  
       td
        a(href='empleados/editar/#{vector[i].id}')
         i.sprite.sprite-editarclap  
        a(href='empleados/confirmar/#{vector[i].id}')
         i.sprite.sprite-borrarclap




